{{define "body"}}
    <!doctype html>
    <html>

    <head>
        <meta name="viewport" content="width=device-width" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>

    <body>
    <p>Hello:</p>
    <p>You are receiving this email because you (or someone else) have requested the reset of a password.</p>
    <p>Please click the link below to reset your password within an hour of receiving this email:</p>
    <p><a href="{{.Link}}">Reset Password</a></p>
    <p>If you did not request a password reset, please ignore this email.</p>
    <p>Thanks,</p>
    <p>The Framingo Team</p>
    </body>

    </html>
{{end}}