{{define "body"}}
Hello:

You are receiving this email because you (or someone else) have requested the reset of a password.

Please click the link below to reset your password within an hour of receiving this email:

{{.Link}}


{{end}}